<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
  p {
    padding-right: 30px;

    }
     h6{
    padding-right: 30px;
    }
    input {padding-right: 30px;
    }
</style>
</head>
<body>
  <header>
    <h1 align="center">The Tiny App</h1>
  </header>
<% if(user) { %>
  <div class="wrapper">
  <form action="/logout" method="POST">
  </div>
   <h6 align="right"> Welcome: <%= user.email %> </h6>
    <p align="right"><input type="submit" value="Logout"></p>
  </form>
<% } else { %>
 <p align="right"><a href="register">Register</a> | <a href="/login">Login</a></p>
<% } %>
    </body>
    <hr>
    </html>