

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
<h1>
URLS Index</h1>
</header>
<a href="register">Registration</a>
<a href="/login">Login</a>
</p>
<!-- <% if (username){ %>
<form method="POST" action="/logout" />
  <%=username %>
  <button name="logout" value="/logout"/>Logout</button>
</form>
  <%}else { %>
<form method="POST" action="/login"/>
  <legend>Login Form
  <input type="text" name="username"/>
  <button value="Submit" name="Submit">Submit</button>
  </legend>
</form>
<%}%> -->
</body>
</html>