
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp: Registration</title>
</head>
<body>
      <h1>Registration Page</h1>
      <br>
      <form method="POST" action="/register">
      <label for="email"/>Email</label>
<<<<<<< HEAD
      <input type="email" name="email" value="email" id="email"/>
      <label for="password"/>Password</label>
      <input type="password" name="password" value="password" id="password"/>
=======
      <input type="email" name="email" value="email"/>
      <label for="password"/>Password</label>
      <input type="password" name="password" value="password"/>
>>>>>>> feature/user-registration
      <input type="submit" value="Password"/>
      </form>
</body>
</html>