<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
</header>
<table>
    <% for(shortURL in urls) { %>
      <tr>
    <td><%= shortURL %></td>
    <td><%= urls[shortURL] %></td>
    <td>
      <form method="POST" action= "/urls/<%= shortURL %>/delete">
      <input type="submit" value="delete" name=""/>
    </form>
  </td>

<!-- <td><a href="#"> Delete </a></td> -->
</tr>
  <% } %>
</table>
</body>
</html>