<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
</header>
<table>
    <% for(url in urls) { %>
      <tr>
    <td><%= url %></td>
    <td><%= username[urls] %></td>
    <td>
    </td>
    <td>
      <form method="POST" action= "/urls/<%= url %>/edit">
      <input type="submit" value="Edit" name="Edit"/>
    </form>
  </td>
      <td>
      <form method="POST" action= "/urls/<%= url %>/delete">
      <input type="submit" value="delete" name="Delete"/>
    </form>
  </td>

</tr>
  <% } %>
</table>
</body>
</html>