<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <form method="POST" action="/urls/new" style="margin:150px;">
      <h1> Create A New </h1>
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px"/>
      <input type="submit" value="Submit">
    </form>

    <table>
    <% for(var urls in urlDB) { %>
      <tr>
    <td><%= urls %></td>
    <td><%= longURL %></td>
    <td>
    </td>
    <%}%>
    </table>
  </body>
</html>